<!DOCTYPE html>
<html>
  <head>
    <title>ckeckout page</title>
    <link rel="stylesheet" href="styles/shared/general.css">
    
    <link rel="stylesheet" href="styles/checkout.css">
  </head>
  <body>
    <header class="header">
      <section class="left-section">
       
        <a href="amazon.html" target="_blank"> <img src="images/amazon-logo.png" class="amazon-logo"></a>
      </section>
      <section class="middle-section">
        <div class="paragraphe-header ">Checkout (
          <span class="items js-items"></span>
          )
        </div>
      </section>
      <section class="right-section">
        <img src="images/icons/checkout-lock-icon.png">
      </section>
    </header>

    <section class="review-your-oder">
      Review your order
    </section>

    <main class="main">

      <div class="order-summary-section-container js-order-summary">
      </div>

      <section class="payment-summary-section js-payment-summary">
        
      </section>
    </main>

    <script src="scripts/checkout.js" type="module"></script>
  </body>
  
</html>