.header{
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
 }
 .left-section{
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 25px;
  border: 1px black solid;
 }
 .left-section:hover{
   border-color: white;
   border-style: solid;
   border-width: 1px;
 }
 .amazon-logo-white{
   height: 35px;
 }
 .middle-section{
   display: flex;
   flex: 1;
   justify-content: end;
   align-items: center;
   height: 40px;
   margin-left: 75px;
   margin-right: 36px;
 }
 .search-bar{
   height: 100%;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border: none;
   flex: 1;
 }
 .search-bar::placeholder{
   font-size: 17px;
   padding-left: 13px;
 }
 .search-icon-button{
   height: 42px;
   width: 52px;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   border: none;
   margin: -2px;
   background-color: rgb(254, 189, 105);
 }
 .search-icon{
   height: 23px;
   padding-left: 4px;
   padding-top: 6px;
 }
 .right-section{
   display: flex;
   height: 60px;
   margin-right: 30px;
   
 }
 .returns-orders-container{
   height: 100%;
   color: white;
   margin-right: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 6px;
   padding-right: 6px; 
   border: 1px black solid;
   cursor: pointer;
 }
 .returns-orders-container:hover{
   border-color: white;
   border-style: solid;
   border-width: 1px;
 }
 .returns{
   font-size: 16px;
   margin-bottom: 1px;
 }
 .orders{
   font-size: 18px;
   font-weight: bold;
 }
 .cart-icon-container{
   height: 100%;
   position: relative;
   display: flex;
   align-items: center;
   border: 1px black solid;
 }
 .cart-icon-container:hover{
   border-color: white;
   border-style: solid;
   border-width: 1px;
 }
 .cart-icon{
   height: 35px;
 }
 .cart{
   color: white;
   font-size: 18px;
   font-weight: bold;
   height: 35px;
   margin-top: 25px;
   margin-left: 2px;
 }
 .cart-quantity{
   color: rgb(240, 136, 4);
   position: absolute;
   left: 24px;
   bottom: 28px;
   font-size: 19px;
 }