 .main{
    display: flex;
    flex-direction: column;
    border-color: rgb(199, 196, 196);
    border-width: 1px;
    border-style: solid;
    width: 950px;
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 10px;
    padding-bottom: 30px;
    
  }
  .first-section{
    display: flex;
    background-color: rgb(240, 242, 242);
    width: 950px;
    height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .left-container{
    width: 175px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    
  }
  .order{
    font-weight: 600;
    font-size: 18px; 
  }
  .date{
    font-size: 18px;
    width: 110px;
    margin-top: -2px;
  }
  .middle-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: start;
    flex: 1;
    
  }
  .total{
    font-weight: 600;
    font-size: 18px;
    width: 80px; 
  }
  .amount{
    
    font-size: 18px;
    width: 80px; 

  }
  .right-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: start;
    padding-right: 20px;
  }
  .order-id{
    font-weight: 600;
    font-size: 18px;
    width: 80px
  }
  .id-number{
    font-size: 18px;
    
  }
  
  .third-section{
    display: flex;
    align-items: start;
    width: 950px;
    padding-top: 25px;
  }
  .left-container3{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
  }
  .middle-container3{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 420px;
  }
  .images{
    height: 120px;
    max-width: 100%;
    max-height: 100%;
  }
  .product-name{
    font-size: 20px;
    font-weight: bold;
    width: 450px;
    margin-bottom: 4px;
  }
  .paragraphe{
    font-size: 19px;
    margin: 0;
  }
  .paragraphe-track{
    font-size: 16px;
  }
  .buy-again{
    height: 30px;
  }
  .buy-again-button{
    width: 140px;
    background-color: rgb(255, 216, 20);
    border-radius: 6px;
    border: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
   
  }
  .buy-it{
    font-size: 15px;
    margin-left: 10px;
  }
  .right-container3{
    height: 50%;
    display: flex;
    justify-content: center ;
    align-items: start;
    width: 365px;
  }
  .track-button{
    width: 240px;
    height: 40px;
    border-radius: 6px;
    border-color:  0.15 0,30 0 0.15;
    background-color: white;
    margin-top: 15px;
  }
  .track-package{
    font-size: 17px;
  }
  .title{
   font-size: 28px;
   font-weight: bold;
  }
  .title-container{
    margin-left: 200px;
    position: absolute;
  }